*{
    font-family: kanit;
    box-sizing: border-box;
}
body {
    background: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0px;
}
h1 {
    text-align: center;
}
.container {
    margin: 30px auto;
    width: 450px;
}
.item {
    text-align: center;
    list-style-type: none;
}
.item-list {
    padding: 0px;
}
.item-list li{
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    padding: 15px;
    color: #3b3b3b;
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
}
.form-control {
    display: inline-block;
    margin: 10px 0px;
    width: 100%;
}
input {
    border: 2px solid #ffffff;
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    transition: 0.3s ease-in;
}
input:focus-visible {
    outline: none;
    border: 2px solid #d0d0d0;
}
button {
    width: 100%;
    border-radius: 5px;
    margin: 10px 0px;
    padding: 8px;
    font-size: 1rem;
    border: none;
    letter-spacing: 1px;
    background: #63bcb9;
    transition: 0.3s ease-in;
}
button:hover {
    background: #68b4b9;
}
label {
    font-size: 1.2rem;
}
.expense {
    border-right: 5px solid #d3385c;
}
.income {
    border-right: 5px solid #1cb573;
}